@charset "UTF-8";
:root {
    /* App Colors */
    --color-primary: var(--color-brown);
    --color-primary-variant: var(--color-lightbrown);
    --color-accent: var(--color-green);
    --color-accent-variant: var(--color-lightgreen);
    --color-text: var(--color-darklightgreen);
    /* Colors */
    --color-brown: #CCA47A;
    --color-lightbrown: #F7ECD0;
    --color-beige: #FDFAE1;
    --color-lightgreen: #E9ECCC;
    --color-green: #CCD4B0;
    --color-white: #fff;
    --color-darkbrown: #B17034;
    --color-darklightbrown: #D3A368;
    --color-darkbeige: #FDFAE1;
    --color-darklightgreen: #626B3D;
    --color-darkgreen: #2B351C;
    --color-gray: #7d7c7c;
    --color-light-gray: #b9b5b5;
    --color-red: rgb(241, 150, 136);
    /* Size */
    --size-max-width: 1200px;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 , h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
   display: flex;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* Main */

#mainIntro {
    margin-top: 50px;
}

.mainIntro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#slideShow{
    width: 900px;
    height: 390px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;   
  }
  
  .introImg {
    width: 700px;
  }
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 10000px; 
    transition: left 0.5s ease-out; 
  }
  
  .slides li:first-child{
    margin-left: 90px;
  }
  
  .slides li:not(:last-child){
    float: left;
    margin-right: 90px;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }

  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 10px;
  }

  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 10px;
  }

  .next:hover{
    transform: translateX(10px);
  }

.mainIntro__loginAll {
    display: grid;
    align-items: center;
    justify-items: center;
}
.mainIntro__loginTitle {
    color: var(--color-darkgreen);
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.mainIntro__login {
    display: flex;
    padding: 1.5rem 2rem;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}
.loginRadio {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}
.radioLabel {
    margin-right: 1.4rem;
    color: var(--color-darkgreen);
}

.mainIntro__loginFormRadio{
    display: flex;
    justify-content: space-between;
    width: 9rem;
}
.loginRadio {
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc; 
    border-radius: 50%;
    outline: none;   
    cursor: pointer;
    margin: 0.6rem;
}

input[type='radio']:checked {
    background-color: var(--color-green); 
    border: 3px solid var(--color-white); 
    box-shadow: 0 0 0 1.6px var(--color-green); 
    
  }
  input[type='radio']:hover {
    background-color: var(--color-green); 
    border: 3px solid var(--color-white); 
    box-shadow: 0 0 0 1.6px var(--color-green); 
    
  }


.login__label {
    border: 1px solid var(--color-gray); 
    border-radius: 10px;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    font-size: 1.3rem;
    gap: 0.5rem;
}
.login__input {
    border: none;
    width: 100%;
    padding: 10px;
}
.mainIntro__loginForm {
    display: grid;
    align-items: center;
    gap: 1rem;
    justify-items: center;
}

.mainIntro__loginFormButton{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.mainIntro__loginButton {
    font-size: 17px;
    color: var(--color-darkgreen);
    font-weight: 500;
}
.mainIntro__loginButton:hover {
    color: var(--color-darkbrown);
}

.loginErrorMsg {
    color: var(--color-red);
    margin-top: 2rem;
}

  
  .error {
    border: 1px solid red;
   }
   
   @keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
  .error .login__icon {
    color: red;
    border: none;
    animation: shake 0.5s ease-in-out;
  }
  


/* Category */

#mainCategory {
    background-color: var(--color-beige);
}
.mainCategory__title {
    font-size: 2rem;
    color: var(--color-darkgreen);
    margin-bottom: 3rem;
}
#categoryList{
    width: 1200px;
    height: 130px;
    position: relative;
    overflow: hidden;
  }

  .categoryLists{
    position: absolute;
    left: 0;
    top: 0;
    width: 8000px;
    transition: left 0.5s ease-out;
    top: 20%;
  }
  .categoryLists li:not(:last-child){
    float: left;
    margin-left: 40px;
  }
  .categoryLists li{
    float: left;
  }
.category {
	display: flex;
}

.mainCategory {
    display: inline-flex;
    gap: 5rem;
    width: 1200PX;
    height: 130px;
    position: relative;
    overflow: hidden;
}	

.mainCategory__detail {
    width: 10rem;
    position: relative;
    text-align: center;

}

.mainCategory__detailImg {
    width: 120px;
    border-radius: 20px;
}

.mainCategory__detailImg:hover {
    opacity: 0.7;
}

.mainCategory__detailImg:hover ~ .mainCategory__detailTitle {
    display:block;
}

.mainCategory__detailTitle {
    display: none; 
    position: absolute;
    top: 50%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-shadow:3px 3px 3px var(--color-gray);
    font-size: 2rem;
    font-weight: bold;
}
  #categoryPrev{
    position:relative;
    background-color: transparent;
    color: black;
    text-align: left;
    border-radius: 50%;
    padding: 10px 20px;
    top: 170px;
    font-size: 1.3em;
    cursor: pointer;
    left: -730px;
    margin-left:80px;
  }
  
  #categoryNext{
	position:relative;
    background-color: transparent;
    color: black;
    text-align:right;
    border-radius: 50%;
    padding: 10px 20px;
    top: 170px;
    font-size: 1.3em;
    cursor: pointer;
    right: -650px;
  }
  
  /*
   #categoryNext{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 93%;
    font-size: 1.3em;
    cursor: pointer;
    right: 240px;
  }
  
  #categoryPrev{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 93%;
    font-size: 1.3em;
    cursor: pointer;
    left: 150px;
    margin-left:80px;
  }
  */
  
  .mainCategory__detail:first-child{
	margin-left: 60px;
}

/* BeanBest */

.mainBeanBest__title{
    font-size: 2rem;
    color: var(--color-darkgreen);
}
.mainBeanBest {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBeanBest__product {
    display: grid;
    width: 15rem;
    margin: 2rem;
    gap: 1rem;
}
.mainBeanBest__productTitle {
    font-size: 1.2rem;
    color: var(--color-darkgreen);
}
.mainBeanBest__productImg {
    width: 100%;
}
.beanBest__number {
    width: 1.2rem;
    margin: auto;
}
.likeButton{
    display: flex;
    margin: auto;
    align-items: center;
}
.myPageLike__button {
    color: var(--color-red);
    font-size: 1.5rem;
}

.mainBeanBest__button {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;

}
.mainBeanBest__buttonTitle{
    margin-left: auto;
    margin-right: 0.5rem;
    color: var(--color-light-gray);
    font-size: 1.2rem;
}
.mainBeanBest__plusButton {
    font-size: 1.5rem;
    color: var(--color-darkgreen);
}

.mainBeanBest__plusButton:hover {
    color: var(--color-red);
}

/* mainBuyer */

.mainIntro__loginAfter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.3rem;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    align-items: center;
}

.mainIntro__loginImg{
    width: 10rem;
}

.mainIntro__loginId {
    color: var(--color-text);
}
.mainIntro__buyer {
    margin-top: 5rem;
    display: grid;
    gap: 4.7rem;
}
.mainIntro__loginPoint{
    font-size: 1.2rem;
}

.mainIntro__loginPointText {
    font-size: 1rem;
}

.mainIntro__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainIntro__AfterButton {
    font-size: 0.8rem;
}

/* mainSeller */

#resisterProduct{
    background-color: var(--color-beige);
}

.resisterProduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resisterProductImg {
    width: 10rem;
}
.resisterProductButton{
    display: flex;
    gap: 1.4rem;
}
.resisterProductButton__detail{
    font-size: 1.1rem;
    padding: 0.7rem;
    border-radius: 10px;
    font-weight: bold;
    color: var(--color-darkgreen);
    background-color: var(--color-green);
    
}

/* productList */

#listCategory {
    background-color: var(--color-beige);
    margin-top: 90px;
}

.productList {
    display: grid;
}

.productList__sortSerch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}

.productList__sortDiv {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.productList__sortText {
    color: var(--color-darkgreen);
    font-size: 1rem;
    margin-right: 0.5rem;
}

.productList__sort {
    color: var(--color-darkgreen);
    font-size: 1rem;
}

.productList__sort:hover {
	color: var(--color-darkbrown);
}

.productActive {
	color:  var(--color-darkbrown);
}

.productList__search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 4px;
}

.productList__searchInput {
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}

.productList__searchButton {
    font-size: 1.2rem;
    color: var(--color-text);
    padding: 8px;
    
}

.productList__productDiv {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 5rem;
}

.productList__product {
    display: flex;
    width: 23rem;
    border-radius: 10px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.productList__productImg {
    width: 13rem;
    border-radius: 10px;
}

.productList__productText {
    margin: 2rem 0rem 0rem 2rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.productList__productTitle{
    color: var(--color-darkgreen);
    font-size: 1.1rem;
}

.productList__productPrice{
    color: var(--color-darkgreen);
    font-size: 1.1rem;
}
.productList__productCategory{
    color: var(--color-darkgreen);
    font-size: 1.1rem;
}

.productList__likeButton {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.productList__buttonDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.productList__button {
    font-size: 2rem;
    color: var(--color-darkgreen);
}

/* GroupProductList */

#TimeOut {
    margin-top: 90px;
}

.timeout {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30rem; */
}
.timeOut__img {
    width: 50rem;
}

#GrouplistCategory {
    margin-top: 0px;
    background-color: var(--color-beige);
}

/* productListDetail */

#productListDetail {
    margin-top: 90px;
}

.productListDetail__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.productListDetail__img {
    width: 30rem;
}
.productListDetail__likeButton{
    margin-left: 9.5rem;
    display: flex;
    align-items: center;
}

.productListDetail__topRight {
    display: grid;
    margin: 6rem 10rem 0rem 0rem;
}

#productListDetail__bottom {
    background-color: var(--color-beige);
}
.productListDetail__bottom {
    margin-top: 3rem;
}

