@charset "UTF-8";
:root {
    /* App Colors */
    --color-primary: var(--color-brown);
    --color-primary-variant: var(--color-lightbrown);
    --color-accent: var(--color-green);
    --color-accent-variant: var(--color-lightgreen);
    --color-text: var(--color-darklightgreen);
    /* Colors */
    --color-brown: #CCA47A;
    --color-lightbrown: #F7ECD0;
    --color-beige: #FDFAE1;
    --color-lightgreen: #E9ECCC;
    --color-green: #CCD4B0;
    --color-white: #fff;
    --color-darkbrown: #B17034;
    --color-darklightbrown: #D3A368;
    --color-darkbeige: #FDFAE1;
    --color-darklightgreen: #626B3D;
    --color-darkgreen: #2B351C;
    --color-gray: #7d7c7c;
    --color-light-gray: #b9b5b5;
    --color-red: rgb(241, 150, 136);
    /* Size */
    --size-max-width: 1200px;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 , h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
   display: flex;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* registerProduct */

#product__form {
    display: inline-grid;
    margin: 1rem;
}
.bean__img {
    width: 2.5rem;
}



.filebox .beanImg-name,  .filebox .descript-name{
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 11rem;
    color: #999999;
    margin-bottom: 1rem;
}
.filebox label {
    display: inline-block;
    padding: 9px 8px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 35px;
    margin-left: 10px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.productListDetail__bottomImg {
	width: 800px;
}

#registerProductGroup {
	height: 1000px;
}

